<div id="<%= dom_id comment %>">
  <p>
    <strong>Texto:</strong>
    <%= comment.texto %>
  </p>

  <p>
    <strong>Fecha publicacion:</strong>
    <%= comment.fecha_publicacion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= comment.publication_id %>

  </p>

</div>

