<div id="<%= dom_id publication %>">
  <p>
    <strong>Titulo:</strong>
    <%= publication.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= publication.contenido %>
  </p>

  <p>
    <strong>Fecha publicacion:</strong>
    <%= publication.fecha_publicacion %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= publication.ubicacion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
