<div id="<%= dom_id publication %>">
  <p class="fs-5">
    <strong>Titulo:</strong>
    <strong><%= publication.titulo %></strong>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= publication.contenido %>
  </p>

  <p>
    <strong>Fecha publicacion:</strong>
    <%= publication.fecha_publicacion %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= publication.ubicacion %>
  </p>

  <p>

    <strong>User:</strong>
        <% if publication.user_id.nil? %>
          <%= "Anónimo" %>
        <% else %>
         <strong class="text-success"><%= publication.user.email %></strong>
         <% end %>
  </p>

</div>
