<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @publication %>

  <div>
    <%= link_to "Editar Publicacion", edit_publication_path(@publication), class: "btn btn-secondary btn-sm" %> |


    <%= link_to "Volver a Publicaciones", publications_path, class: "btn btn-secondary btn-sm" %> 

    <%= button_to "Eliminar Publicacion", @publication, method: :delete, class: "btn btn-danger btn-sm my-3" %> 
  </div>

  <div>
  <%= link_to "detales de  comentarios", publication_comments_path(@publication) , class: "btn btn-success btn-sm my-3" %>
  </div>



  <div>
    <h5>Comentarios</h5>
    <% @publication.comments.each do |comment| %>
      <p><strong><%= comment.user_id %>:</strong> <%= comment.texto %></p>
    <% end %>
  </div>
</div>